body {
    margin: 0;
    padding: 0;
    background-color: #9e2243;
}

.background {
    background-image: url("../public/images/if1920x1080tlo.png");
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    z-index: 0;
}

.players {
    z-index: 5;
}

.maestro {
    padding-left: 1122px;
    padding-top: 19px;
    padding-bottom: 5px;
}

.playerContainer {
    position: relative;
    padding-bottom: 4px;
}

.playerPoints {
    position: absolute;
    left: 537px;
    top: -4px;
    width: 63px;
    height: 72px;
    font-size: 68px;
    color: white;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}

.playerImage {
    position: absolute;
    left: 636px;
    top: 0;
    width: 63px;
    height: 72px;
}

.playerBar {
    padding-left: 23px;
    width: 1900px;
    height: 72px;
}